.attendance-table {
    width: 100%;
}

.attendance-table__show {
    margin-bottom: 25px;
}

.attendance-table .attendance-table__show--th,
.attendance-table .attendance-table__show--td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 17px;
}

.attendance-table tr:first-child td {
    padding-left: 32px;
}

.attendance-table__show--td input {
    width: 80px;
}

.attendance-table tr th:first-child {
    width: 10%;
}

.btn-submit {
    width: 80px;
    padding: 3px 0;
    align-items: end;
}


.button-area {
    margin-top: 0;
}