.attendance-table {
    width: 100%;
}

.attendance-table__show {
    margin-bottom: 25px;
}

.attendance-table .attendance-table__show--th,
.attendance-table .attendance-table__show--td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.attendance-table tr:first-child td {
    padding-left: 32px;
}

.attendance-table__show--td input {
    width: 80px;
}

.attendance-table tr th:first-child {
    width: 10%;
}

.btn-submit {
    width: 80px;
    padding: 3px 0;
    align-items: end;
}


.button-area {
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
}

.time-range {
    margin-left: 6%;
    gap: 63px;
}

.approved-text {
    background-color: rgb(109, 109, 109);
    color: #ffffff;
    /* font-weight: bold; */
    border-radius: 3px;
    width: 80px;
    font-size: 13px;
    text-align: center;
    padding: 3px 8px;
    letter-spacing: 2px;
}